:root {
    --background: rgb(255, 255, 255);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    color: black;
    text-align: center;
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

li {
    list-style-type: square;
}

img {
    width: 300px;
    height: 200px;
    padding: 5px;
}

.dropdown-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h2 {
    text-align: center;
}

select {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.slogan-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-display-class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: auto;
}